.info-primary{
    color: yellow;
}

.info-secondary{
    color: white;
}

.prompt-primary{
    color: magenta;
}

.prompt-secondary{
    color: white;
}

.header-primary{
    color: blue;
}

.header-secondary{
    color: yellow;
}

.critical-primary{
    color: red;
}

.critical-secondary{
    color: yellow;
}

.details-primary{
    color: white;
}

.details-secondary{
    color: yellow;
}

.question-primary{
    color: cyan;
}

.question-secondary{
    color: yellow;
}

.echo-primary{
    color: magenta;
}

.echo-secondary{
    color: yellow;
}

.success-primary{
    color: green;
}

.success-secondary{
    color: yellow;
}

.score{
    color: cyan;
}

.error{
    color: red;
}

.warning{
    color: orange;
}

.default-primary{
    color: white;
}

.default-secondary{
    color: yellow;
}