@{
    ViewData["Title"] = "Home Page";
}

@section Styles { 
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
}

@section Scripts { 
    <script type="text/javascript">      
        $(function(){  
            $.post("/home/CheckForUpdate", function(data){  
                if(data) $("#update-card").show();
            });

            $("#update-no").click(function(){
                $("#update-card").hide();
            });

            $("#update-yes").click(function(){
                $("#update-card").hide();
                $("#step-1").hide();
                $("#updating").show();
                $(this).modal('show');
            });

            $("#mode").change(function() {
                $.post("/home/GetScripts", { mode: this.value}, function(data){                     
                    $("#script").empty();
                    $("#script").append('<option value="none" selected>- Select -</option>');

                    $.each(data, function() {                        
                        $("#script").append('<option value="'  + this.path + '">' + this.name + '</option>');
                    });
                    
                    $("#step-2").hide();
                    if(data.length == 0) $("#script").hide();
                    else $("#script").show();
                });
            });

            $("#script").change(function() {
                var mode = $("#mode").val();
                $("#step-2").show();

                if(mode == "single"){
                    $("#info-batch").hide();
                    $("#info-single").show();
                }
                else if(mode == "batch"){
                    $("#info-single").hide();
                    $("#info-batch").show();
                }
            });  

            $("#target").keyup(function() {
                if(this.value.length > 0) $("#run").prop( "disabled", false ); 
                else $("#run").prop( "disabled", true ); 
            });  

            $("#run").click(function() {
                $("#mode, #script, #target, #run").prop( "disabled", true );  
                $("#step-3").show();  
                $("#log > div").empty();
                $("#log > img").show();

                $.post("/home/Run", { script: $("#script").val(), mode: $("#mode").val(), target: $("#target").val()}, function(data){                        
                    $("#log > img").hide();

                    //TODO: this must be append in async mode   
                    $.each(data, function() {      
                        //Multiple log files     

                        $.each(this, function() {                        
                            //TODO: this should come in two lines
                            if(this.Text != null && this.Text.startsWith("ERROR:")){
                                $("#log > div").append('<label class="'  + this.Style + '">ERROR:</label><br>');
                                this.Text = this.Text.replace("ERROR:", "").replace(/^\n|\n$/g, '');
                            }
                            
                            $("#log > div").append('<label class="'  + this.Style + '"><xmp>' + (this.Indent == null ? "" : this.Indent) +  (this.Text == null ? "" : this.Text) + '</xmp></label>');                        
                            if(this.BreakLine || this.Style == null) $("#log > div").append('<br>');
                        });

                        $("#log > div").append('<br>');
                    });
                });

                $("#run").prop( "disabled", false ); 
            });
        });
    </script>
}

<div id="update-card">
    <p>A new version of AutoCheck is available, YAML script files within <code>'AutoCheck\\scripts\\custom\'</code> folder will be preserved but all other changes you made will be reverted.</p>
    <p> Do you want to update AutoCheck to its newer version?:</p>

    <button id="update-yes">Yes</button>
    <button id="update-no">No</button>
</div>

<div id="wellcome" class="text-center">
    <h1 class="display-4">Welcome to AutoCheck</h1>
    <p>Learn about AutoCheck at his <a href="https://fherstk.github.io/AutoCheck/html/" target="_blank">documentation site</a>.</p>
</div>

<div id="step-1" class="text-center">
    <h2>Step 1: Select the YAML script to run</h2>
    <select id="mode">
        <option value="none" selected>- Select -</option>
        <option value="single">Single</option>
        <option value="batch">Batch</option>
    </select>  

    <select id="script"></select>  
</div>

<div id="step-2" class="text-center">
    <h2>Step 2: Select the target folder</h2>
    <label id="info-single">AutoCheck will be executed once for the given folder, so this should contain the files you want to validate.</label>
    <label id="info-batch">AutoCheck will be executed in batch mode, once per folder within the given one.</label>
    <br>
    <input id="target" type="text" placeholder="/home/user/Documents/folder" /> 
    <input id="run" type="button" value="Run" disabled="true" />
</div>

<div id="step-3" class="text-center">
    <h2>Step 3: The script is beeing executed</h2>    
    <div id="log">
        <img alt="Loading" src="~/img/loading.gif" />
        <div></div>
    </div>
</div>

<div id="updating" class="text-center">
    <h2>Updating AutoCheck, please wait...</h2>        
    <br>
    <img alt="Updating" src="~/img/loading.gif" />
</div>