@{
    ViewData["Title"] = "Home Page";
}

@section Styles { 
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

@section Scripts { 
    <script type="text/javascript">
        $(function(){
            $("#type").change(function() {
                $.post("/home/GetScripts", { type: this.value}, function(data){ 
                    $("#script").empty();
                    $("#script").append('<option value="none" selected>- Select -</option>');

                    $.each(data, function() {                        
                        $("#script").append('<option value="'  + this.path + '">' + this.name + '</option>');
                    });
                    
                    $("#step-2-single, #step-2-batch").hide();
                    if(data.length == 0) $("#script").hide();
                    else $("#script").show();
                });
            });

            $("#script").change(function() {
                debugger;
                var type = $("#type").val();

                if(type == "single"){
                    $("#step-2-batch").hide();
                    $("#step-2-single").show();
                }
                else if(type == "batch"){
                    $("#step-2-single").hide();
                    $("#step-2-batch").show();
                }
            });
        });
    </script>

}

<div id="wellcome" class="text-center">
    <h1 class="display-4">Welcome to AutoCheck</h1>
    <p>Learn about AutoCheck at his <a href="https://fherstk.github.io/AutoCheck/html/" target="_blank">documentation site</a>.</p>
</div>

<div id="step-1" class="text-center">
    <h2>Step 1: Select the YAML script to run</h2>
    <select id="type">
        <option value="none" selected>- Select -</option>
        <option value="single">Single</option>
        <option value="batch">Batch</option>
    </select>  

    <select id="script"></select>  
</div>

<div id="step-2-single" class="text-center">
    <h2>Step 2: Fill the execution data</h2>
    <select id="mode-single">      
        <option value="single">Folder</option>
    </select>    
</div>

<div id="step-2-batch" class="text-center">
    <h2>Step 2: Fill the execution data</h2>
    <select id="mode-batch">        
        @* TODO: batch mode can add multiple folder/path lines *@
        @* <option value="none" selected>- Select -</option>
        <option value="single">Folder (just this)</option> *@
        <option value="batch">Subfolders</option>
    </select>    
</div>